<head>
    <meta charset="UTF-8">
    <title>sign animation</title>
    
</head>
<body>

    <div class="box">

    <div class="form">
        <h2>Sign in </h2>
        <div class="inputBox">
            <input type="text" required="required">
            <span> Username</span>
            <i></i>
        </div>

        <div class="inputBox">
            <input type="password" required="required">
            <span> Password</span>
            <i></i>
        </div>

        <div class="links">

            <a href="Forget Password">Forget Password</a>
            <a href="#">signUp</a>

        </div>
  
       <input class="bn" type="submit" value="Login"> 
    </div>
    </div>
</body>